main {
    width: 90%;
    margin: 0 auto;
}

#showHideBtn {
    background-color: lightgoldenrodyellow;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 7px;
}

th {
    width: 10vw;
    font-size: 1.4vw;
    text-align: left;
    border: 1px solid black;
    padding-left: 3px;
}

.botBorderCells {
    border-bottom: 1px solid black; 
}

.taskRows:nth-child(odd) {
    opacity: .90;
}

td {
    width: fit-content;
    border: none;
    font-size: 1.2vw;
}

.completeCell {
    width: 2vw;
}

.sortIMG {
    width: 1.8vw;
    padding-right: 5px;
    float: left;
}

#sortDateDiv, #sortDueDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    word-break: keep-all;
    word-wrap: normal;
    cursor: pointer;
}

#buttonDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.descriptionCell {
    width: 20vw;
}

.inputBtn {
    cursor: pointer;
    width: 2vw;
    margin: 5px;
    padding: 5px;
    border-radius: 7px;
}

#buttonCell {
    width: fit-content;
    background-color: white;
}

footer {
    font-size: .8vw;
}

.YesClass {
    background-color: green;
}

.NoClass {
    background-color: red;
}

.editBtn {
    background-color: lightcyan;
}

.editBtn:hover {
    background-color: cyan;
}

.editSelect {
    background-color: blue;
}

.deleteBtn {
    background-color: lightcoral;
}

.deleteBtn:hover {
    background-color: rgb(234, 72, 72);
}

.NoBtn {
    background-color: lightgreen;
}

.NoBtn:hover {
    background-color: lawngreen;
}

.YesBtn {
    background-color: lightcoral;
}

.YesBtn:hover {
    background-color: rgb(234, 72, 72);
}

