main {
    width: 90%;
    margin: 0 auto;
}

img {
    width: 2vw;
    height: auto;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

th {
    width: 10vw;
    font-size: 1.5vw;
    text-align: left;
}

tr {
    border: none;
    
}

td {
    width: 12vw;
    border: none;
}

.sortIMG {
    width: 1.8vw;
    padding-right: 5px;
    float: left;
}

#sortDateDiv, #sortDueDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}

#buttonDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.inputBtn {
    cursor: pointer;
    width: 2vw;
}

#buttonCell {
    width: fit-content;
}

footer {
    font-size: .8vw;
}

.YesClass {
    background-color: green;
}

.NoClass {
    background-color: red;
}